
/*to be used only by Creative Crew guys*/

/*dummy styles */ 
.header{
    padding: 10px 30px;
    color: #ffffff;
    background-color: #000;
    font-size: 20px;
}
.input-form .row{
    padding-bottom: 10px;
}
.input-form label{
    font-weight: normal;
}
