@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    font-family: 'robotoregular';
    background-color: #e5e9ec;
    margin-bottom: 30px;
}
h1,
h2 {
    margin-bottom: 1em;
    font-family: 'robotolight';
    letter-spacing: -2px;
}
h3 {
    font-size: 1.5em;
}
.h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.1em;
}
.app-header-wrapper {
    background-color: #000;
}
.app-header,
.app-content {
    width: 90%;
    margin: 0 auto;
}
.app-header {
    height: 60px;
    padding-top: 19px;
}
.main-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.main-menu li {
    float: left;
    margin-right: 25px;
}
.main-menu li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.main-menu li a:hover,
.main-menu a.selected {
    color: #f35958;
    text-decoration: none;
}
.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 12px;
}
.content-box-type-one {
    padding: 20px;
}
.content-box-type-two {
    padding: 10px 20px;
}
.content-box-type-three {
    padding: 12px 30px;
}
.top-boxes h3 {
    font-family: 'robotolight';
    margin: 0em 0em 1em 0em;
    color: #fff;
    font-size: 1.5em;
}
.mid-boxes {
    margin-top: 2em;
    color: #fff;
}
.mid-boxes h3 {
    margin: 0em 0em 1em 0em;
    font-size: 1.2em;
    float: left;
    margin-right: 10px;
}
.iconed-nav {
    margin-top: 8px;
}
.iconed-nav i {
    color: #fff;
}
.iconed-nav a {
    color: #fff;
    font-family: 'robotolight';
}
.margin-zero {
    margin: 0px !important;
}
.blue-back {
    background-color: #0090d9;
}
.green-back {
    background-color: #0aa699;
}
.dark-green-back {
    background-color: #07776d;
}
.red-back {
    background-color: #f35958;
}
.magenta-back {
    background-color: #736086;
}
.yellow-back {
    background-color: #fdd01c;
}
.white-back {
    background-color: #fff;
}
.dark-green-text {
    color: #07776d;
}
.title-type-one {
    background-color: #444;
    color: #fff;
}
.title-type-two {
    color: #fff;
    padding:6px 20px;
}
.title-type-two h3, .title-type-two h4{
    color: #fff;
    font-size: 1.2em;
}
.title-type-one h4,
.title-type-one h3, .title-type-two h3, .title-type-two h4 {
    margin: 0px;
}
.yellow-text {
    color: #fdd01c;
}
.red-text {
    color: #f35958;
}
.bold-text {
    font-family: 'robotobold';
}
.grid-title-white div {
    color: #fff;
    font-family: 'robotobold';
    font-size: 1.1em;
}
.grid, .grid-type-two {
    border-bottom: 1px solid #d3d3d3;
}
.scorecard-tile {
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}
.inverted-margin-container {
    padding-left: 15px;
    padding-right: 15px;
}
.font-adjuster {
    font-size: 1.12em !important;
}
.height-adjuster {
    height: 81px;
}
.status-text {
    margin: 6px 0px;
}
.progress-bar-back,
.progress-bar-back div {
    height: 5px;
}
.progress-bar-back {
    background-color: #ebeef1;
}
.large-text {
    font-size: 1.2em;
}
.progress-bar {
    box-shadow: none;
}
.level-text-large {
    font-family: 'robotobold';
    font-size: 30px;
    float: left;
    margin-right: 30px;
    color: #fff;
}
.level-text-small {
    font-size: 15px;
    float: left;
    color: #fff;
    margin-top: 11px;
}
#popup-trigger{
    cursor: pointer;
}
#popup-trigger:hover{
    background-color: #f1f1f1;
}
.grid-type-two .col{
    padding: 5px 4px;
}
.grid-first-row-set > div{
    border-left:5px solid #f35958;
}
.grid-second-row-set > div{
    border-left:5px solid #fdd01c;
}
.grid-third-row-set > div{
    border-left:5px solid #0aa699;
}
.padding-zero{
    padding: 0px !important;
}
.large-text{
    font-size: 2em;
}

/*import projects page styles */ 
.list-type-one{
    margin:0;
    padding: 0;
}
.list-type-one li{
    list-style: none;
    padding: .7em 1.5em;
    border-bottom: 1px solid #d3d3d3;
}

.add-remove-projects button{
    margin-left: 1.5em; 
    float:right;
}
.add-remove-projects li:hover{
    background-color: #f1f1f1;
}
/*import projects page styles ends */ 

@media (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        background-image: url(../images/logo-retina.png);
        background-repeat: no-repeat;
        background-position: 0px 10px;
        background-size: 373px;
    }
}